img {
  max-width: 100%;
  height: auto;
}

.font-azeret{
  font-family: "Azeret Mono";
}

h2{
  color: white;
  position: relative;
}

// 圓角矩形
.rounded-8{
  border-radius: 8px;
}
.rounded-12{
  border-radius: 12px;
}
.rounded-24{
  border-radius: 24px;
}

// 漸層字
.gradient-text{
  background-image: linear-gradient(180deg, #62DB54, #09ACF5);
  background-clip: text;
  color: transparent;
}

// 漸層背景
.gradient-bg{
  background: linear-gradient( 90deg, #09ACF5 0%, #62DB54 50%);
}

// 商標
h1{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week6-202207/logo2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 24px;
  height: 24px;
  text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

@media (min-width: 768px){
  h1{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week6-202207/logo.svg);
    width: 180px;
    height: 42px;
  }
}
// 商標END


// 導覽列下面那條線
.navbar:before{
  content:"";
  display: block;
  position: absolute;
  background-color: #62DB54;
  width: 50%;
  height: 2px;
  left: 0;
  bottom: 0;
}
.navbar:after{
  content:"";
  display: block;
  position: absolute;
  background-color: #09ACF5;
  width: 50%;
  height: 2px;
  right: 0;
  bottom: 0;
}
// 導覽列下面那條線END

// 橫幅廣告
  // 背景圖片
.banner-bg{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home_mobile.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding: 84px 0;

  &-content{
    margin: 0 auto;
    text-align: center;
    position: relative;
    max-width: 650px;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);

    &:before{
      display: inline-block;
      position: absolute;
      content:"";
      width: 10px;
      height: 10px;
      background-color: #fff;
      left: -5px;
      top: -5px;
    }

    &:after{
      display: inline-block;
      position: absolute;
      content:"";
      width: 10px;
      height: 10px;
      background-color: #fff;
      right: -5px;
      top: -5px;
    }
  }
}

@media (min-width: 768px){
  .banner-bg{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 216px 0;
  }
}
  // 有裝飾的框框
  .banner {
    padding: 47px 80px;
    border: 1px solid #fff;
  }
  .square {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  
// 橫幅廣告END

// 服務介紹
  // 服務介紹標題
.intro-title{
  text-align: center;

  &:after{
    display: inline-block;
    position: absolute;
    content:"";
    background-color: #62DB54;
    width: 50px;
    height: 3px;
    left: 50%;
    bottom: -16px;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 992px){
  .intro-title{
    text-align-last: left;
    &:after{
      left: 0;
      transform: translate(0%, 0%);
    }
  }
}
  // 服務介紹內容
.intro-content{
  border: 1px solid #202020;
  background: #202020;

  span{
    background: linear-gradient( #09ACF5 0%, #62DB54 50%);
    background-clip: text;
    color: transparent;
  }
}

@media (min-width: 768px){
  .intro-content{
    background: #2D2D2D;
    border: 1px solid #2D2D2D;

    span{
      color: #C1C1C1;
    }

    &:hover{
      background-color: #202020;
      border: 1px solid #62DB54;
      border-radius: 12px;
  
      h3{
        color: white;
      }

      span{
        background: linear-gradient( #09ACF5 0%, #62DB54 50%);
        background-clip: text;
        color: transparent;
      }
    }
  }
}

// 區塊標題(除了intro)
.title{
  text-align: center;
  color: white;

  &:after{
    display: inline-block;
    position: absolute;
    content:"";
    background-color: #62DB54;
    width: 50px;
    height: 3px;
    left: 50%;
    bottom: -16px;
    transform: translate(-50%, -50%);
  }
}
// 區塊標題(除了intro)END

// 數字標籤
.step{
  position: relative;
  border-radius: 12px;

  &-number{
      position: absolute;
      left: 48px;
      top: -32px;
      width: 78px;
      text-align: center;
      font-size: 48px;
      font-weight: bold;
      color: #62DB54;
      background-color: #1C1C1C;
      font-family: "Azeret Mono";
  }
}
// 數字標籤END

// 輪播標籤
.lessonTag{
  a{
    display: block;
    &:hover{
      background-color: #62DB54;
    }
  }
}
// 輪播標籤END


// 熱門課程
.hotLesson{
  
  // 卡片樣式
  .card{
    border: 2px solid #2D2D2D;
    border-radius: 24px;

    &:hover{
      background-color: #1C1C1C;
      border: 2px solid #62DB54;
      border-radius: 24px;
    }
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  // 按鈕
  &-btn{
  display: block;
  width: 172px;
  margin: 0 auto;
  color: white;

    &:hover{
      color: 202020;
      background: linear-gradient( 270deg, #09ACF5 0%, #62DB54 50%);
    }
  }
}
// 熱門課程END


// 課程資訊
  // 背景及遮罩
.lessonInfo{
    &-bg1, &-bg2, &-bg3, &-bg4{
      // height: 615px;
      background-size: cover;
      background-position: center center;
    }

    &-bg1{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info01.jpg?raw=true);
    }
    &-bg2{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info02.jpg?raw=true);
    }
    &-bg3{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info03.jpg?raw=true);
    }
    &-bg4{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info04.jpg?raw=true);
    }

    &-bg-mask{
      width: 100%;
      height: 100%;
      background-color: rgba(28, 28, 28, 0.9);
      padding: 40px 72px; 
    }

  }
  
  // 內容文字
.lessonInfo-content{
  text-align: center;

  p{
    color: white;
  }

  .material-icons{
    color: #62DB54;
  }

  h3{
    position: relative;
    &:after{
        display: inline-block;
        position: absolute;
        content:"";
        background-color: #fff;
        width: 50px;
        height: 3px;
        background-color: #62DB54;
        left: 50%;
        bottom: -16px;
        transform: translate(-50%, -50%);
      }
}
}
  // RWD
@media (min-width: 992px){

  .lessonInfo-bg-mask{
    padding: 216px 48px;

    &:hover{
      background-color: rgba(0, 0, 0, 0);

      span{
        color: #62DB54;
      }

      p{
        color: #fff;
      }

      h3{
        position: relative;
        &:after{
            background-color: #62DB54;
        }
      }
    }
  }

  .lessonInfo-content{
    text-align-last: left;

    h3{
      position: relative;
      &:after{
          display: inline-block;
          position: absolute;
          content:"";
          background-color: #fff;
          width: 50px;
          height: 3px;
          background-color: #c1c1c1;
          left: 25px;
          bottom: -16px;
        }
    }
  
    .material-icons, p{
      color: #C1C1C1;
    }
  }
}

// 課程資訊END

// 文章分享
  // 行動版卡片間距
.c-mb-24{
  margin-bottom: 24px;
}

@media (min-width: 992px){

  .squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 1px solid #62DB54;
      border-left: 1px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 1px solid #62DB54;
      border-right: 1px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 1px solid #62DB54;
      border-left: 1px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 1px solid #62DB54;
      border-right: 1px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
  }

  .card{
    padding: 32px; 
    
    &:hover {
      .squareRounded {
        display: block;
      }
    }
  }
}
// 文章分享END


.review{
  height: 733px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2{
    padding: 0 38px;
  }
}

.review-swiper{
  height: auto;
 


  &-slide{
    // position: relative; 
  }

  &-img{
    position: relative;
    margin-left: 5px;
    margin-bottom: 45px;


    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      left: -5px;
      top: 5px;
      z-index: 0;

      @media (min-width:992px) {
        left: -10px;
        top: 10px;

      }
    }
  }
}

.card {
  padding: 24px 28px;
  border-radius: 24px 24px 24px 0;
  bottom: 0;
  right: 0;
  position: relative;


  h3 {
    margin-bottom: 8px;  
  }
  &-img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: 32px;
    bottom: 100%;
    transform: translateY(50%);
    @media (max-width:991px) {
      width: 80px;
      height: 80px;
      right: 24px;
      top: -30px;
      bottom: auto;
      transform: none;
    }
  }
  @media (max-width:991px) {
    // position: relative;
    width: 100%;
    padding: 24px;
    margin-bottom: 32px;
  }
}


.review-swiper-button-next:after, .review-swiper-button-prev:after {
  content: '';
}
.review-swiper{
&-button-next, &-button-prev {
  position: unset;
  width: 24px;
  height: 24px;
  margin-top: 0;
  color: #62DB54;
}

.review-swiper-pagination {
  position: unset;
  width: auto;
  .review-swiper-pagination-bullet {
    background-color: #62DB54;
    opacity: initial;
    &-active {
      width: 16px;
      border-radius: 100px;
    }
  }
}

&-buttons {
  bottom: 0;
  left: 30%;
  transform: translateX(-50%);
  z-index: 10;
  position: absolute;
  @media (max-width: 991px) {
    position: initial;
    transform: none;
  }
}
}
// 加入我們
.joinUs{
  padding: 40px;
  text-align: center;

  a{
    color: white;
    padding: 8px 32px;
    
    &:hover{
      background-color: #62DB54;
      color: #2d2d2d;
    }
  }
}

@media (min-width: 992px){
  .joinUs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align-last: left;
    padding: 48px;

    h3{
      margin-bottom: 8px;
    }
    p{
      margin: 0;
    }
  
    .material-icons{
      margin-bottom: 0;
      margin-right: 60px;
    }
    .joinUs-content{
      margin-right: 96px;
    }
  }
}


.footer{
  padding: 16px 0;

  @media (min-width: 992px){
    padding: 24px 0;
  }

}
