

.font-azeret{
  font-family: "Azeret Mono";
}

h2{
  color: white;
  position: relative;
}

// 圓角矩形
.rounded-8{
  border-radius: 8px;
}
.rounded-12{
  border-radius: 12px;
}
.rounded-24{
  border-radius: 24px;
}

// 漸層字
.gradient-text{
  background-image: linear-gradient(180deg, #62DB54, #09ACF5);
  background-clip: text;
  color: transparent;
}

// 漸層背景
.gradient-bg{
  background: linear-gradient( 90deg, #09ACF5 0%, #62DB54 50%);
}

// 商標
h1{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week6-202207/logo2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 24px;
  height: 24px;
  text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

@media (min-width: 768px){
  h1{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week6-202207/logo.svg);
    width: 180px;
    height: 42px;
  }
}
// 商標END


// 導覽列下面那條線
.navbar:before{
  content:"";
  display: block;
  position: absolute;
  background-color: #62DB54;
  width: 50%;
  height: 2px;
  left: 0;
  bottom: 0;
}
.navbar:after{
  content:"";
  display: block;
  position: absolute;
  background-color: #09ACF5;
  width: 50%;
  height: 2px;
  right: 0;
  bottom: 0;
}
// 導覽列下面那條線END

// 橫幅廣告
  // 背景圖片
.banner-bg{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home_mobile.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding: 84px 0;

  &-content{
    margin: 0 auto;
    text-align: center;
    position: relative;
    max-width: 650px;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);

    &:before{
      display: inline-block;
      position: absolute;
      content:"";
      width: 10px;
      height: 10px;
      background-color: #fff;
      left: -5px;
      top: -5px;
    }

    &:after{
      display: inline-block;
      position: absolute;
      content:"";
      width: 10px;
      height: 10px;
      background-color: #fff;
      right: -5px;
      top: -5px;
    }
  }
}

@media (min-width: 768px){
  .banner-bg{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 216px 0;
  }
}
  // 有裝飾的框框
  .banner {
    padding: 47px 80px;
    border: 1px solid #fff;
  }
  .square {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  
// 橫幅廣告END

// 服務介紹
  // 服務介紹標題
.intro-title{
  text-align: center;

  &:after{
    display: inline-block;
    position: absolute;
    content:"";
    background-color: #62DB54;
    width: 50px;
    height: 3px;
    left: 50%;
    bottom: -16px;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 992px){
  .intro-title{
    text-align-last: left;
    &:after{
      left: 0;
      transform: translate(0%, 0%);
    }
  }
}
  // 服務介紹內容
.intro-content{
  border: 1px solid #202020;
  background: #202020;

  span{
    background: linear-gradient( #09ACF5 0%, #62DB54 50%);
    background-clip: text;
    color: transparent;
  }
}

@media (min-width: 768px){
  .intro-content{
    background: #2D2D2D;
    border: 1px solid #2D2D2D;

    span{
      color: #C1C1C1;
    }

    &:hover{
      background-color: #202020;
      border: 1px solid #62DB54;
      border-radius: 12px;
  
      h3{
        color: white;
      }

      span{
        background: linear-gradient( #09ACF5 0%, #62DB54 50%);
        background-clip: text;
        color: transparent;
      }
    }
  }
}

// 區塊標題(除了intro)
.title{
  text-align: center;
  color: white;

  &:after{
    display: inline-block;
    position: absolute;
    content:"";
    background-color: #62DB54;
    width: 50px;
    height: 3px;
    left: 50%;
    bottom: -16px;
    transform: translate(-50%, -50%);
  }
}
// 區塊標題(除了intro)END

// 數字標籤
.step{
  position: relative;
  border-radius: 12px;

  &-number{
      position: absolute;
      left: 48px;
      top: -32px;
      width: 78px;
      text-align: center;
      font-size: 48px;
      font-weight: bold;
      color: #62DB54;
      background-color: #1C1C1C;
      font-family: "Azeret Mono";
  }
}
// 數字標籤END

// 輪播標籤
.lessonTag{
  a{
    display: block;
    &:hover{
      background-color: #62DB54;
    }
  }
}
// 輪播標籤END


// 熱門課程
.hotLesson{
  
  // 卡片樣式
  .card{
    border: 2px solid #2D2D2D;
    border-radius: 24px;

    &:hover{
      background-color: #1C1C1C;
      border: 2px solid #62DB54;
      border-radius: 24px;
    }
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  // 按鈕
  &-btn{
  display: block;
  width: 172px;
  margin: 0 auto;
  color: white;

    &:hover{
      color: 202020;
      background: linear-gradient( 270deg, #09ACF5 0%, #62DB54 50%);
    }
  }
}
// 熱門課程END


// 課程資訊
  // 背景及遮罩
.lessonInfo{
    &-bg1, &-bg2, &-bg3, &-bg4{
      // height: 615px;
      background-size: cover;
      background-position: center center;
    }

    &-bg1{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info01.jpg?raw=true);
    }
    &-bg2{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info02.jpg?raw=true);
    }
    &-bg3{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info03.jpg?raw=true);
    }
    &-bg4{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info04.jpg?raw=true);
    }

    &-bg-mask{
      width: 100%;
      height: 100%;
      background-color: rgba(28, 28, 28, 0.9);
      padding: 40px 72px; 
    }
  
  }
  
  // 內容文字
.lessonInfo-content{
  text-align: center;

  .material-icons{
    color: #62DB54;
  }

  h3{
    position: relative;
    &:after{
        display: inline-block;
        position: absolute;
        content:"";
        background-color: #fff;
        width: 50px;
        height: 3px;
        background-color: #62DB54;
        left: 50%;
        bottom: -16px;
        transform: translate(-50%, -50%);
      }
}
}
  // RWD
@media (min-width: 992px){

  .lessonInfo-bg-mask{
    padding: 216px 48px;

    &:hover{
      background-color: rgba(0, 0, 0, 0);

      span{
        color: #62DB54;
      }

      p{
        color: #fff;
      }

      h3{
        position: relative;
        &:after{
            background-color: #62DB54;
        }
      }
    }
  }

  .lessonInfo-content{
    text-align-last: left;

    h3{
      position: relative;
      &:after{
          display: inline-block;
          position: absolute;
          content:"";
          background-color: #fff;
          width: 50px;
          height: 3px;
          background-color: #c1c1c1;
          left: 25px;
          bottom: -16px;
        }
    }
  
    .material-icons, p{
      color: #C1C1C1;
    }
  }
}

// 課程資訊END

.articleIndex{

  .col{
    position: relative;
  }
  .col:before{
    position: absolute;
    display: inline-block;
    content:"";
    background-color: #1C1C1C;
    width: calc( 100% - 64px );
    height: 5px;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, -50%);
  }
  .col:after{
    position: absolute;
    display: inline-block;
    content:"";
    background-color: #1C1C1C;
    width: calc( 100% - 64px );
    height: 5px;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
  }
  .decoration:before{
    position: absolute;
    display: inline-block;
    content:"";
    background-color: #1C1C1C;
    height: calc( 100% - 64px );
    width: 5px;
    left: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .decoration:after{
    position: absolute;
    display: inline-block;
    content:"";
    background-color: #1C1C1C;
    height: calc( 100% - 64px );
    width: 5px;
    right: -5px;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  .col:hover{
    border: 1px solid #62DB54;
    border-radius: 12px;
  }

}

.studentReview{
  width: 100%;
  min-height: 733px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
   position: relative;

  &-img-bd{
    width: 525px;
    height: 318px;
    position: absolute;
    top: 234px;
    left: 181px;
  }

  &-img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/share.jpg?raw=true);
    width: 525px;
    height: 318px;
    position: absolute;
    bottom: 10px;
    left: 10px;

  }

  &-content{
    width: 416px;
    border-radius: 24px 24px 24px 0px;
    position: absolute;
    left: 509px;
    top: 241px;
  }

  &-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: 32px;

  }

}

.joinUs{
  width: 76%;
  margin: 0 auto;
   a{
    color: #fff;
   
    &:hover{
      background-color: #62DB54;
      color: #2d2d2d;
    }
  }
}